html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > * {
    margin: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td {
    height: 100px;
    width: 100px;
    border: .25px solid #dddddd;
}

td:hover {
    background-color: #ebebeb;
}

.win-message {
    display: none;
    color: green;
}

fieldset {
    text-align: center;
}

.empty-cell {
    background-color: #ed8b8b;
}

button {
    padding: 10px;
    border: none;
    background-color: grey;
    color: white;
}

button:hover {
    background-color: rgb(83, 83, 83);
}

.error-message {
    color: red;
    display: none;
}